<div class="table-foot">
    <form action="#/create/receipt" method="post" id="create-receipt-form">
        <div class="col wide">
        </div>
        <div class="col wide right">Total:</div>
        <div class="col">{{totalAll}}</div>
        <div class="col">
        </div>
    </form>
</div>