<header class="clearfix" id="profile">
    {{#if isAuth}}
    <div id="cashier">
        <span>Cashier: </span>
        <a href="#">{{username}}</a>
    </div>

{{>navigation}}
    {{/if}}
</header>